/* SalesTable.css */

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    cursor: pointer;
    text-align: left;
  }
  
  /* Filter */
  input[type='text'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  /* Pagination */
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 5px;
    margin: 0 4px;
  }
  
  .pagination button.active {
    background-color: #45a049;
  }
  
  .pagination button:hover:not(.active) {
    background-color: #45a049;
  }
  

  /* CSS untuk modal */
  .react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* CSS untuk form */
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='number'],
  input[type='date'] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type='text']:focus,
  input[type='number']:focus,
  input[type='date']:focus {
    outline: none;
    border-color: #646cff;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #646cff;
    font-size: 16px;
    cursor: pointer;
  }
  

  